<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.png" alt="logo" class="logoImg" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Find a<br />
          Job</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          >ISS Leadership<br />
          Searches</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          >ISS School<br />
          Explorer</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          >My <br />
          Applications</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fairs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upgrade Now</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Job
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid mandatory">
  <div class="row text-center">
    <div class="col-sm-6">
      <p>
        <i class="fa-solid fa-triangle-exclamation"></i> 3 mandetory filds
        required to complete profile
      </p>
    </div>
    <div class="col-sm-6">
      <p>Go to MyProfile to complete missing information >></p>
    </div>
  </div>
</div>
<div class="container-fluid jobFair">
  <div class="row">
    <div class="col-sm-6">
      <h3>International Job Fairs</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        eligendi id, aspernatur dolorem odit voluptas ducimus? Illum accusamus
        sit laborum harum repellat, nisi labore quibusdam autem ea sequi libero
        exercitationem natus dolorem ipsa, deserunt sed ex, voluptatum omnis
        mollitia ut.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        eligendi id, aspernatur dolorem odit voluptas ducimus? Illum accusamus
        sit laborum harum repellat, nisi labore quibusdam autem ea sequi libero
        exercitationem natus dolorem ipsa, deserunt sed ex, voluptatum omnis
        mollitia ut.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        eligendi id, aspernatur dolorem odit voluptas ducimus? Illum accusamus
        sit laborum harum repellat, nisi labore quibusdam autem ea sequi libero
        exercitationem natus dolorem ipsa, deserunt sed ex, voluptatum omnis
        mollitia ut.
      </p>
    </div>
    <div class="col-sm-6">
      <img
        src="../../../assets/images/background.png"
        alt="topFairImg"
        class="img-fluid"
      />
    </div>
  </div>
</div>
